<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('pages/head'); %>
</head>
<body>
    <header>
      <%- include('pages/back-navbar'); %>
    </header>
    
<div class="container p-5 text-center">
    <h1>Create Product</h1>
</div>

<div class="container">
    <a href="/dashboard" class="btn btn-sm btn-primary float-end mb-2">View Products</a>

    <form action="/product" method="POST" enctype="multipart/form-data" style="width: 50%; margin:0 auto">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Farm Product Name</label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Farm Product Category</label>
            <input type="text" name="category" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Farm Product Quantity</label>
            <input type="number" name="quantity" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Farm Product Description</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
<!-- image -->
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Add Image</label>
            <input type="file" name="image" class="form-control" id="exampleFormControlInput1" />
        </div>
<!-- create button -->
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Add Product</button>
        </div>
    </form>
  
    
</div>

<!-- <%= user %> -->


<%- include('pages/head'); %>
</body>
</html>