<section>
    <nav class="navbar bg-dark">
        <div class="container">
          <a class="navbar-brand text-white" href="/">
            <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24"> -->
            AnimaFarm
          </a>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
</section>